#formulario{
width:80%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#divlogin{
    background-color: gray;
    color: white;
}

#buttonok{
    
background-color:rgb(88, 214, 88);
color:white;
border-style: none;
cursor: pointer;
}

#buttonok:hover{
    background-color:white;
    color:rgb(88, 214, 88);
    }

#buttonnot{
    
background-color: rgb(190, 112, 112);
color: white;
border-style: none; 
cursor: pointer;
}

#buttonnot:hover{
    background-color: white;
    color: rgb(190, 112, 112);

    }